
/* semantic color variables for this project */
:root {
  --color-primary: #01A76F;
  --color-primary-bg: rgba(34, 197, 94, 0.16);
  --color-error: #FF5631;
  --color-error-bg: rgba(255, 86, 48, 0.16);
  --color-warning: #FFAB00;
  --color-warning-bg: rgba(255, 171, 0, 0.16);
  --color-blue: rgb(0, 108, 156);
  --color-blur-bg: rgba(0, 184, 217, 0.16);

  --color-background: #fff;
  --color-text: #212B36;
  --color-content-text: #637481;
  --color-sub-content-text: rgb(145, 158, 171);
  --color-border: #E8ECEE;

  --color-hover-bg: rgba(145, 158, 171, 0.08);
  --color-hover-primary-bg: rgba(0, 167, 111, 0.08);
  --color-hover-selected-primary-bg: rgba(0, 167, 111, 0.16);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-content-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
